:root {
    --purple: indigo;
    --white: whitesmoke;
}

.header {
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.base {
    padding-top: 2rem;
    padding-bottom: 6rem;
    width: 90%;
    margin: auto;
}

.footer {
    color: var(--white);
    background-color: var(--purple);
    padding: .5rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}