/* paleta de cores */
:root {
    --purple: indigo;
    --white: white;
}

.header {
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem 2rem;
}

.footer {
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.base {
    padding-top: 2rem;
    padding-bottom: 8rem;
    width: 90%;
    margin: auto;
}