/* https://css-loaders.com/ */
/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 2rem;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.loader:before {
    content: "Loading..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

:root {
    --box-shadow: rgba(0, 0, 0, .1);
}

/* home | galeria */
.botao-adicionar-novo {
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.search-container {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
    padding: 1rem;
    height: 100%;
    width: 60%;
    max-width: 30rem;
    font-size: 1rem;
}

.search-container select {
    height: 100%;
    width: 25%;
    max-width: 5rem;
    font-size: 1rem;
    cursor: pointer;
}

.search-container button {
    height: 100%;
    width: 15%;
    max-width: 3rem;
    font-size: 1rem;
    cursor: pointer;
}

.galeria {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 1rem;
}

.galeria-card {
    width: 48%;
    transition: 1s;
    border-radius: 1rem;
    box-shadow: 0 .1rem 1rem var(--box-shadow);
}

.galeria-card:hover {
    transform: translateY(-1rem);
}

.galeria-imagem img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
}

.galeria-info {
    padding: 1rem 1rem 1.5rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

/* responsividade */
@media(max-width: 800px) {
    .galeria-card {
        width: 100%;
    }
}