/* https://css-loaders.com/ */
/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 2rem;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5rem;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.loader:before {
    content: "Loading..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

:root {
    --box-shadow: rgba(0, 0, 0, .1);
    --bg-white: whitesmoke;
    --bg-green: #28A745;
}

/* home | galeria */
.botao-adicionar-novo {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.search-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
    padding: .5rem;
    height: 100%;
    width: 60%;
    max-width: 30rem;
}

.search-container select {
    height: 100%;
    width: 25%;
    max-width: 5rem;
    cursor: pointer;
}

.search-container button {
    height: 100%;
    width: 15%;
    max-width: 3rem;
    cursor: pointer;
}

.galeria {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 1rem;
}

.galeria-card {
    width: 48%;
    transition: 1s;
    border-radius: .5rem;
    box-shadow: 0 .1rem 1rem var(--box-shadow);
}

.galeria-card:hover {
    transform: translateY(-1rem);
}

.galeria-imagem {
    display: flex;
    justify-content: center;
}

.galeria-imagem img {
    border-radius: .5rem;
    max-width: 100%;
    max-height: 30rem;
    cursor: pointer;
}

.galeria-info {
    padding: 1rem 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

/* responsividade */
@media(max-width: 800px) {
    .galeria-card {
        width: 100%;
    }
}

/* navegação entre páginas */
.nav-pages {
    display: inline-block;
    margin-bottom: 1rem;
}

/* formulário */
form {
    background-color: var(--box-shadow);
    width: 90%;
    max-width: 35rem;
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form input,
form button {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

form span {
    font-size: .8rem;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-submit {
    background-color: var(--bg-green);
    color: var(--bg-white);
    cursor: pointer;
}

.preview-image {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.preview-image img {
    max-width: 100%;
}