/* configurações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  scroll-behavior: smooth;
}

/* responsividade */
@media(max-width: 800px) {

  html,
  body {
    font-size: 16px;
  }
}

@media(max-width: 500px) {

  html,
  body {
    font-size: 14px;
  }
}